body
  background #313D38
  min-width 980px
  overflow auto

.container
  min-width 933px

.main.container
  margin-top -51px
  position relative
  overflow hidden
  margin-bottom -21px
  border 1px solid rgba(255, 255, 255, .1)
  border-radius 4px
  display flex
  flex-direction row

@import "_partial/header"
@import "_partial/main_section"
@import "_partial/sidebar"
@import "_partial/breadcrumb"
@import "_partial/footer"
