<footer>
  <div class="ui container">
    <p class="copyright">
      &#169; <span><%- link_to('/', 'MoroccoJS') %></span> <%- date(Date.now(), 'YYYY') %>. All rights reserved.
    </p>

    <p class="credit">
      Designed with <span>❤</span> and proudly hosted by <span><%- link_to('http://github.com', 'GitHub', {external: true}) %></span>.
    </p>
  </div>
</footer>
