<aside class="sidebar">
  <div class="sidebar-header">
    <p>Follow us: </p>
    <ul class="social-icons">
      <li><a href="http://github.com/MoroccoJS" target="_blank"><i class="github square icon"></i></a></li>
      <li><a href="http://facebook.com/MoroccoJS" target="_blank"><i class="facebook square icon"></i></a></li>
      <li><a href="" target="_blank"><i class="google plus square icon"></i></a></li>
      <li><a href="" target="_blank"><i class="twitter square icon"></i></a></li>
      <li><a href="http://slack.moroccojs.org" target="_blank"><i class="slack icon"></i></a></li>
    </ul>
  </div>

  <div class="sidebar-content">
    <div class="ui medium rectangle test ad" data-text="Advertisement"></div>
    <div class="ad">
      <a href="http://slack.moroccojs.org/">
        <%- image_tag('/img/join-slack.png', {alt: 'Join us on Slack'}) %>
      </a>
    </div>
    <div class="fb-page" data-href="https://www.facebook.com/MoroccoJS" data-width="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MoroccoJS"><a href="https://www.facebook.com/MoroccoJS">MoroccoJS</a></blockquote></div></div>
  </div>
</aside>
