footer
  height 120px
  width 100%
  background rgba(0, 0, 0, .3)
  border-top 1px solid rgba(255, 255, 255, .1)
  color rgba(255, 255, 255, .3)
  .container
    height 100px
    margin-top 20px
    padding-top 40px
    p
      display inline
      &.credit
        float right
      span
        font-weight bold
        a
          color rgba(255, 255, 255, .4)
          &:hover
            color rgba(255, 255, 255, .6)
