header
  background #00B5AD
  height 350px
  position relative
  border-bottom 1px solid rgba(255, 255, 255, .2)
  &.pink
    background #E03997
  &.yellow
    background #FBBD08
  &.purple
    background #A333C8
  &.blue
    background #2185D0
  &.grey
    background #8A8A8A
  &.olive
    background #A2D72F
  .background
    background url('../img/mopattern.jpg')
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    opacity 0.01
  .container
    padding-top 40px
    position relative
    .menu
      border none
      .item
        padding-bottom 10px
        padding-top 10px
    .jumbotron
      width 100%
      text-align center
      .header
        color #fff
        margin-top 70px
        font-size 3em
        font-weight normal
